Source: oscar-nat
Section: oscar
Priority: optional
Maintainer: Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 1.0

Package: oscar-nat
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, liboscar (> 6.0.2), packman
Description: OSCAR nat table manager
 Set of scripts and Perl modules for the management of the OSCAR nat tables.
