Source: oscar-selector
Section: oscar
Priority: optional
Maintainer   : Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: oscar-selector
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, liboscar
Description: OSCAR Selector
 Set of scripts and Perl modules for the selection of OSCAR packages that have
 to be installed on a OSCAR cluster.
