[redhat-*:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[centos:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[scientific*:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[fedora*:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[yellowdog*:*:*]
perl-DBI
mysql
perl-DBD-MySQL
mysql-server

[suse*:*:*]
mysql
mysql-client
perl-DBD-mysql
perl-DBI
perl-Data-ShowTable

[ubuntu:1004:*]
mysql-server-5.0
mysql-client-5.0
mysql-common
libdbi-perl
libdbd-mysql-perl

[ubuntu:1204:*]
mysql-server-5.5
mysql-client-5.5
mysql-common
libdbi-perl
libdbd-mysql-perl

[ubuntu:1210:*]
mysql-server
mysql-client
mysql-common
libdbi-perl
libdbd-mysql-perl

[ubuntu:1304:*]
mysql-server
mysql-client
mysql-common
libdbi-perl
libdbd-mysql-perl

[ubuntu:*:*]
mysql-server-5.0
mysql-client-5.0
mysql-common
libdbi-perl
libdbd-mysql-perl

[debian:*:*]
mysql-server
mysql-client
mysql-common
libdbi-perl
libdbd-mysql-perl

# differences between mandr* distros should be resolved automatically
[mandr*:*:*]
MySQL
MySQL-client
perl-DBI
perl-DBD-mysql
perl-Data-ShowTable
MySQL-common
perl-CGI

