Source: systemconfigurator
Section: misc
Priority: optional
Maintainer: Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0), perl, libappconfig-perl
Standards-Version: 2.2.2 

Package: systemconfigurator
Architecture: all
Depends: dpkg, apt, rapt 
Description: Description not yet available.
 Description not yet available.

