Source: oscar-v
Section: oscar
Priority: optional
Maintainer   : Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: oscar-v
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, liboscar, v2m
Description: OSCAR extension to support system-level virtualization.
 OSCAR extension to support system-level virtualization such as Xen or KVM.
