Source: libv3m
Priority: extra
Maintainer: Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 5), autotools-dev, automake, autoconf, libxml++2.6-dev, sgmltools-lite
Standards-Version: 3.7.2
Section: libs

Package: libv3m-dev
Section: libdevel
Architecture: any
Depends: libxml++2.6-dev
#Depends: libv3mBROKEN (= ${Source-Version})
Description: Library for virtual machine management and monitoring
 libv3m provides an abstraction for different system-level virtualization
 solutions such as Xen or QEMU. For that, libv3m defines the notion of
 profile: an high-level description of the virtual machines wants to use.
 This profile is a simple XML file and libv3m provides mechanisms to parse
 profiles and based on that, generates configuration files for the execution
 of virtual machines. Libv3m also provide a monitoring capability.

#Package: libv3mBROKEN
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: <insert up to 60 chars description>
# <insert long description, indented with spaces>

