Source: oscar
Section: misc
Priority: optional
Maintainer: Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0), libqt-perl
Standards-Version: 3.7.2.2

Package: oscar
Architecture: all
Depends: perl, libqt-perl, oscar-packages-core
Description: OSCAR (Open Source Cluster Application Resources).
 OSCAR (Open Source Cluster Application Resources) is a snapshot of the best 
 known methods for building, programming, and using High Performance Computing
 (HPC) clusters. It consists of a fully integrated and easy to install software
 bundle designed for high performance cluster computing. Everything needed to
 install, build, maintain, program, and use a Linux cluster is included in the
 suite, making it unnecessary to download or even install any individual 
 software packages on your cluster.

Package: oscar-packages-core
Architecture: all
Depends: oscar-package-sis, oscar-package-c3
Description: Meta-package for core OSCAR packages.
 Meta-package for core OSCAR packages.

Package: oscar-package-sis
Architecture: all
Depends: systemconfigurator (>= 2.2.7), 
    systemimager-bittorrent (>= 3.7.5), systemimager-client (>= 3.7.5),
    systemimager-common (>= 3.7.5), systemimager-doc (>= 3.7.5),
    systemimager-flamethrower (>= 3.7.5), 
    systemimager-i386boot-standard (>= 3.7.5), 
    systemimager-i386initrd-template (>= 3.7.5),
    systemimager-server (>= 3.7.5), systeminstaller-oscar (>= 2.3.1),
    systeminstaller-oscar-x11 (>= 2.3.1)
Description: OSCAR package for SIS.
 OSCAR package for the SIS suite.

Package: oscar-package-c3
Architecture: all
Depends: c3 (>= 4.0)
Description: OSCAR package for C3.
 OSCAR package for C3.

Package: oscar-package-rapt
Architecture: all
Depends: rapt
Description: OSCAR package for RAPT.
 OSCAR package for RAPT.

Package: oscar-package-oda
Architecture: all
Description: OSCAR package for ODA.
 OSACR package for ODA (OSCAR DAtabase).
