<?xml version="1.0" encoding="ISO-8859-1"?>
<oscar>
  <name>oscar-udev</name>
  <class>included</class>
  <summary>OSCAR extension for the management of the udev.</summary>
  <description>OSCAR extension for the management of the udev configuration on compute nodes.</description>
  <license>GPL</license>
  <group>Application/System</group>
  <uri>http://oscar.openclustergroup.org/</uri>
  <authors>
    <author cat="maintainer">
      <name>Geoffroy Vallee</name>
      <email>valleegr@ornl.gov</email>
    </author>
  </authors>
  <serverDeps>
    <requires>
      <pkg>oscar-v</pkg>
    </requires>
  </serverDeps>
  <clientDeps/>
  <apiDeps/>
  <changelog>
    <versionEntry version="1.0-1.1">
      <changelogEntry authorName="Olivier Lahaye" date="2014-07-11T15:25:17+02:00">
        <item>Rebuild to avoid conflicts with new disttag in rpm distros</item>
      </changelogEntry>
    </versionEntry>
    <versionEntry version="1.0-1">
      <changelogEntry authorName="Geoffroy Vallee" date="2009-01-21T15:00:11-05:00">
        <item>Initial OPKG.</item>
      </changelogEntry>
    </versionEntry>
  </changelog>
</oscar>
