Source: netbootmgr
Section: oscar
Priority: optional
Maintainer: Olivier Lahaye <olivier.lahaye@cea.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: netbootmgr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: netbootmgr
 Netbootmgr provides a GUI interface for managing the next boot action for
 network booted hosts. It does so by using pxelinux' or elilo.efi's capability
 to load an IP specific configuration file from the network. Netbootmgr
 creates/deletes symbolic links pointing to predefined pxelinux/elilo config
 files.
