Source: sync-files
Section: misc
Priority: extra
Maintainer: Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: sync-files
Architecture: all
Depends: c3 (>= 5.0), coreutils, libappconfig-perl, perl, util-linux (>=  2.12)
Description: OSCARized File Synchronization System
 The OSCAR File Synchronization System keeps any list of files synchronized
 from the the central OSCAR server out to the OSCAR compute nodes and 
 (optionally) client image(s).  Whenever any of the following happens, the 
 files on the OSCAR server are copied to the OSCAR clients: periodically if 
 changed (defaults to every 15 minutes) forced update 
 (/opt/sync_files/bin/sync_files --force).
