Source: ssh-oscar
Section: oscar
Priority: optional
Maintainer   : Geoffroy Vallee <valleegr@ornl.gov>
Build-Depends: debhelper (>= 4.0.0), liboscar
Standards-Version: 3.7.2

Package: ssh-oscar
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, liboscar, tcsh | csh | c-shell
Description: OSCAR SSH management scripts
 Set of scripts for the initialization of SSH for OSCAR users.
