<?xml version="1.0" encoding="ISO-8859-1"?>
<oscar>
  <name>oscar-v</name>
  <class>core</class>
  <summary>OSCAR extension for system-level virtualization support.</summary>
  <description>
OSCAR extension for system-level virtualization support.
  </description>
  <license>GPL</license>
  <group>Application/System</group>
  <uri>http://www.csm.ornl.gov/srt/oscarv/</uri>
  <authors>
    <author cat="maintainer">
      <name>Geoffroy Vallee</name>
      <email>valleegr@ornl.gov</email>
    </author>
  </authors>
  <serverDeps>
    <requires>
      <pkg>oscarv</pkg>
    </requires>
  </serverDeps>
  <clientDeps>
  </clientDeps>
  <apiDeps>
  </apiDeps>
  <changelog>
    <versionEntry version="1.0-1">
      <changelogEntry authorName="Geoffroy Vallee" date="2009-01-21T15:00:11-05:00">
        <item>Initial OPKG.</item>
      </changelogEntry>
    </versionEntry>
  </changelog>
</oscar>
